# cache directories
Thumbs.db
*.DS_Store
*.empty

#phpstorm project files
.idea

#netbeans project files
nbproject

#eclipse, zend studio, aptana or other eclipse like project files
.buildpath
.project
.settings

# sass cache files
*.sass-cache

# mac deployment helpers
# switch

# composer
#/app/lib/vendor
composer.lock

# server
/cgi-bin
/fcgi-bin
/etc
/log
/logs
/tmp
/homes
/webstat

#custom
robots.txt
/node_modules/
/build/